<div class="top-track-component" *ngIf="playlistModel">
  <h4>Top Australia</h4>
  <div *ngFor="let trackItem of trackLists">
    <div class="track-item"  (click)="onTrackClick(trackItem.track.id)">
        <img class="track-album" src="{{trackItem.track.album.images[0].url}}">
        <span class="track-name">{{ trackItem.track.name }}</span>
    </div>
  </div>
</div>
