@import '../../../../theme/base-color.less';

.top-track-component {
  display: grid;
  grid-row-gap: 0.2rem;
  .track-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 0.2rem;
    padding: .2rem;
    margin-bottom: .5rem;
    cursor: pointer;
    align-items: center;
    border-left: 2px solid #fff;
    transition: all .2s ease;
    .track-album {
      height: 30px;
      border-radius: 50%;
    }
    .track-name {
      font-size: 15px;
      font-weight: 500;
    }
    &:hover {
        border-left: 2px solid @secondary_color;
    }
  }
}
