.dashboard-component {
  height: 100%;
  .widget-layout-container {
    display: grid;
    grid-template-areas: 'top_list chart' 'table table';
    grid-template-columns: 25rem 1fr;
    grid-template-rows: max-content 1fr;
    grid-gap: 1rem;
    height: 95%;
    .top-list-container {
      grid-area: ~'top_list';
    }
    .chart-container {
      grid-area: ~'chart';
    }
    .table-container {
      grid-area: ~'table';
    }
  }
}
