<div class="dashboard-component">
    <div class="widget-layout-container">
        <div class="top-list-container card-block">
            <top-track (selectTrack)="selectTrackEvent($event)"></top-track>
        </div>
        <div class="chart-container card-block">
            <track-detail [trackId]="selectedTrackId"></track-detail>
        </div>
        <div class="table-container card-block">
            <search-track (selectTrack)="selectTrackEvent($event)"></search-track>
        </div>
    </div>
</div>