@import '../../../../theme/base-color.less';

.search-track-component {
  .search-result-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    justify-items: flex-start;
    margin-top: 1rem;
    .track-item {
      height: 150px;
      width: 150px;
      position: relative;
      cursor: pointer;
      .track-image {
        height: 150px;
        width: 150px;
      }
      .track-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: @track_item_background_color;
        display: grid;
        text-align: center;
        align-items: center;
        color: @primary_light_text_color;
        transition: all 0.2s ease;
        grid-template-rows: 1fr max-content;
        .track-name {
          font-weight: 600;
          font-size: 15px;
          transition: all 0.2s ease;
        }
        .artist-name {
          font-size: 11px;
          transition: all 0.2s ease;
        }
        &:hover {
          background-color: @track_item_background_color-hover;
          .artist-name {
            font-size: 16px;
            width: 100%;
            background: @track_artist_name_bg-hover;
            color: @track_artist_name_text-hover;
          }
        }
      }
    }
  }
}
