<div class="search-track-component">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input mdbInput type="text" class="form-control mb-2" id="searchInput" placeholder="Search songs" [(ngModel)]="searchValue" />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary btn-md mt-0" (click)="onClickSearch()" [disabled]="!searchValue">Go</button>
    </div>
  </div>
  <div class="search-result-container" *ngIf="trackLists && trackLists.length > 0">
    <div class="track-item" *ngFor="let track of trackLists" (click)="onTrackClick(track.id)">
      <img class="track-image" src="{{ track.album.images[0].url }}" />
      <div class="track-info">
        <span class="track-name">
          {{ track.name }}
        </span>
        <span class="artist-name">
          {{ track.artists[0].name }}
        </span>
      </div>
    </div>
  </div>
  <div class="search-result-container" *ngIf="!trackLists || trackLists.length === 0">
    <span class="no-result">No Result</span>
  </div>
</div>
