@import '../../../../theme/base-color.less';

.menu-bar-component {
  height: 50px;
  width: 100%;
  background-image: @menu_bg;
  color: @primary_light_text_color;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  position: fixed;
  top: 0;
  .menu-link {
    padding: 0.2rem;
    min-width: 80px;
    text-align: center;
    border: @menu_link_border;
    margin: 0.2rem;
    &.left-link {
      margin-left: auto;
    }
  }
  .logo-container {
    padding: 0.2rem;
    height: 50px;
    > img {
      height: 100%;
      margin-right: 0.5rem;
    }
  }
}
