<div class="menu-bar-component">
    <div class="logo-container">
        <img src="../../../../assets/cs.png">
        <img src="../../../../assets/csb.png">
    </div>
    <a class="menu-link left-link"  (click)="onSignOutClick()">
        Logout
    </a>
</div>