<div class="track-detail-component">
  <div class="track-detail-container" *ngIf="trackDetail">
    <div class="album-detail">
      <img class="album-pic" src="{{ trackDetail.album.images[0].url }}" alt="" />
      <span class="detail-text">Track: {{ trackDetail.album.total_tracks }} </span>
      <span class="detail-text">Date: {{ trackDetail.album.release_date }} </span>
      <span class="album-name">{{ trackDetail.album.name }} </span>
    </div>
    <div class="track-detail">
      <h4 class="track-name">{{ trackDetail.name }}</h4>
      <div>
        Artists:
        <span *ngFor="let artist of trackDetail.artists"> {{ artist.name }}, </span>
      </div>
      <div>Popularity: {{ trackDetail.popularity }}</div>
      <div>Track No: {{ trackDetail.track_number }}</div>
      <mat-basic-audio-player class="player"
        [audioUrl]="trackDetail.preview_url"
      ></mat-basic-audio-player>
    </div>
  </div>
  <div class="no-track" *ngIf="!trackDetail">
    No Song Selected
  </div>
</div>
