@import '../../../../theme/base-color.less';
.track-detail-component {
  .track-detail-container {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 2rem;
    .detail-text {
      font-size: 11px;
      color: @secondary_text_color;
    }
    .album-detail {
      display: grid;
      grid-gap: 0.5rem;
      text-align: center;
      .album-name {
        font-size: 14px;
        font-weight: 600;
      }
      img.album-pic {
        width: 10rem;
        border-radius: 20%;
        margin: auto;
        border: 2px solid @primary_color;
      }
    }
    .track-detail {
    }
  }
}
