@import (css) url('https://fonts.googleapis.com/css?family=Montserrat');

@primary_font_family: 'Montserrat', sans-serif;
@app_background_color: #f4f7fa;
@primary_color: #1991f0;
@secondary_color: #6f2dd3;
@primary_text_color: #666;
@secondary_text_color: #999;
@primary_light_text_color: #fff;
@error_text_color: #d32f2f;
@menu_bg: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
@menu_link_border: 2px solid #fff;

@card_shadow: 0 10px 30px 0 rgba(213, 227, 239, 0.6);
@card_background_color: #fff;

@track_item_background_color: rgba(0, 0, 0, 0.5);
@track_item_background_color-hover: rgba(0, 0, 0, 0.8);
@track_artist_name_bg-hover: rgba(255, 255, 255, 0.65);
@track_artist_name_text-hover: #000;
@btn_spotify_color: linear-gradient(132deg, #1db954 0%, #16a085 100%);
@btn_primary_color: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
