@import '../../theme/base-color.less';

.app-component {
  height: 100%;
  &.has-menu {
    padding: 4rem 0.5rem 0;
  }
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 1rem;
  color: @secondary_text_color;
  font-size: 12px;
}
