<menu-bar *ngIf="showMenuBar"></menu-bar>
<div class="app-component" [ngClass]="{'has-menu' :  showMenuBar}">
  <router-outlet></router-outlet>
</div>
<div id="footer" class="app-footer">
  <footer>
    <div class="text-center">
      <span class="appName">&copy; Duy Tran 2019 All rights reserved</span>
    </div>
  </footer>
</div>
