<div class="login-component">
  <form class="login-container card-block" name="loginForm" #f="ngForm" novalidate (ngSubmit)="onSubmitLogin(f)">
    <h4 class="text-center">Sign in to explore</h4>
    <!-- <div class="md-form">
      <input type="email" name="email" class="form-control" [(ngModel)]="userLogin.email" #email="ngModel" required />
      <label for="email">Email</label>
      <span class="error-message" *ngIf="f.submitted && !email.valid">
        Email is required
      </span>
    </div>
    <div class="md-form">
      <input type="password" name="password" class="form-control" [(ngModel)]="userLogin.password" #password="ngModel" required />
      <label for="password">Password</label>
      <span class="error-message" *ngIf="f.submitted && !password.valid">
        Password is required
      </span>
    </div>
    <button class="btn btn-sm btn-primary" [disabled]="f.invalid">
      Sign in
    </button> -->
    <button class="btn btn-sm btn-spotfy" (click)="onSpotifyLogin()">
      Sign in with Spotify
    </button>
  </form>
</div>
