.login-component {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  background: url('../../../assets/login-bg.png') no-repeat center;
  background-size: cover;
  .login-container {
    display: grid;
    min-width: 350px;
    max-width: 450px;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}
