@import './theme/base-color.less';

html,
body {
  height: 100%;
}

body {
  font-family: @primary_font_family;
  margin: 0;
  font-size: 14px;
  color: @primary_text_color;
  background-color: @app_background_color;
}

.card-block {
  background-color: @card_background_color;
  box-shadow: @card_shadow;
  padding: 1rem;
  border-radius: 10px;
}

.error-message {
  font-size: 11px;
  color: @error_text_color;
}

.btn {
  min-width: 100px;
  border-radius: 34px;
  color: @primary_light_text_color;
  font-weight: 600;
  &.btn-spotfy {
    background-image: @btn_spotify_color;
  }
  &.btn-primary {
    background-image: @btn_primary_color;
  }
}

.mat-card {
  margin-top: 1rem;
}

.mat-slider {
  .mat-slider-wrapper {
    background-color: #ccc;
  }
  .mat-slider-thumb {
    background-color: #ccc;
  }
}
